Project Development/Sprint 4/flows.json
[{"id":"7710cd44e14ec9aa","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"4cd271b8066ca370","type":"debug","z":"7710cd44e14ec9aa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":467.85716247558594,"y":467.54058837890625,"wires":[]},{"id":"b10ec71e3e0b1bd9","type":"function","z":"7710cd44e14ec9aa","name":"IR sensor","func":"msg.payload=msg.payload.ir\nglobal.set('i',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450.1427917480469,"y":573.3977699279785,"wires":[["a7f4a45c294f9fca"]]},{"id":"8570ad1b36a4f5c8","type":"http in","z":"7710cd44e14ec9aa","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":249.85714721679688,"y":690.6834983825684,"wires":[["84733cc0deed38ac"]]},{"id":"0329f5053890cad8","type":"http response","z":"7710cd44e14ec9aa","name":"","statusCode":"","headers":{},"x":727.571460723877,"y":688.5406761169434,"wires":[]},{"id":"84733cc0deed38ac","type":"function","z":"7710cd44e14ec9aa","name":"http func","func":"msg.payload={\"Weightsensor\":global.get(\"w\"),\n\"IR Sensor\":global.get(\"i\"),\n\"Ultrsonic\":global.get(\"u\")\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490.57133865356445,"y":690.1120548248291,"wires":[["0329f5053890cad8"]]},{"id":"162e73973a5cb9d6","type":"ibmiot in","z":"7710cd44e14ec9aa","authentication":"apiKey","apiKey":"05f8fb769a321474","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"Arduino","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":247.85716247558594,"y":467.54058837890625,"wires":[["4cd271b8066ca370","b10ec71e3e0b1bd9","1b58bb62e04b5ad4","0dd05623eec038f6","3f591bae81ebe04b"]]},{"id":"a7f4a45c294f9fca","type":"ui_gauge","z":"7710cd44e14ec9aa","name":"","group":"ba852f1b82237623","order":13,"width":0,"height":0,"gtype":"gage","title":"IR Sensor","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":770.9171867370605,"y":561.0815753936768,"wires":[]},{"id":"6be1e20a037697cc","type":"ui_gauge","z":"7710cd44e14ec9aa","name":"","group":"ba852f1b82237623","order":13,"width":0,"height":0,"gtype":"gage","title":"Ultrasonic","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":767.1631355285645,"y":614.334415435791,"wires":[]},{"id":"e2923f98667bfcd5","type":"ui_gauge","z":"7710cd44e14ec9aa","name":"","group":"ba852f1b82237623","order":13,"width":0,"height":0,"gtype":"gage","title":"WeightSensor","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":782.3415794372559,"y":509.6915283203125,"wires":[]},{"id":"0dd05623eec038f6","type":"function","z":"7710cd44e14ec9aa","name":"Weight Sensor","func":"msg.payload=msg.payload.weight\nglobal.set('w',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450.87744903564453,"y":533.6916160583496,"wires":[["e2923f98667bfcd5","8b28e1279e1a5495"]]},{"id":"1b58bb62e04b5ad4","type":"function","z":"7710cd44e14ec9aa","name":"Ultrasonic Sensor","func":"msg.payload=msg.payload.ultrasonic\nglobal.set('u',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":437.8774642944336,"y":623.2630214691162,"wires":[["6be1e20a037697cc"]]},{"id":"886c69f23ec9d3db","type":"http in","z":"7710cd44e14ec9aa","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":259.28125762939453,"y":757.4559841156006,"wires":[["9995aceae95fbc55","05e4716ec3ec01e6","e80f9256084713ec"]]},{"id":"9995aceae95fbc55","type":"http response","z":"7710cd44e14ec9aa","name":"","statusCode":"","headers":{},"x":524.2897491455078,"y":802.4387722015381,"wires":[]},{"id":"05e4716ec3ec01e6","type":"debug","z":"7710cd44e14ec9aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":661.2869567871094,"y":748.9559726715088,"wires":[]},{"id":"e80f9256084713ec","type":"ibmiot out","z":"7710cd44e14ec9aa","authentication":"apiKey","apiKey":"05f8fb769a321474","outputType":"evt","deviceId":"12345","deviceType":"Arduino","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":761.0425834655762,"y":804.1463356018066,"wires":[]},{"id":"3f591bae81ebe04b","type":"cloudant out","z":"7710cd44e14ec9aa","name":"","cloudant":"66d6d85e60353269","database":"data","service":"_ext_","payonly":false,"operation":"insert","x":498.203125,"y":397.111120223999,"wires":[]},{"id":"56fcd5af218f3fd1","type":"cloudant in","z":"7710cd44e14ec9aa","name":"","cloudant":"66d6d85e60353269","database":"data","service":"_ext_","search":"_all_","design":"","index":"","x":396.9424476623535,"y":860.8824291229248,"wires":[["f6effca51f40e342"]]},{"id":"f6effca51f40e342","type":"debug","z":"7710cd44e14ec9aa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":667.2869300842285,"y":863.3575706481934,"wires":[]},{"id":"b678b4749f6eb20e","type":"inject","z":"7710cd44e14ec9aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":206.0475616455078,"y":854.6218299865723,"wires":[["56fcd5af218f3fd1"]]},{"id":"8b28e1279e1a5495","type":"ui_gauge","z":"7710cd44e14ec9aa","name":"","group":"ba852f1b82237623","order":3,"width":0,"height":0,"gtype":"compass","title":"Bin Usage","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":760.7030639648438,"y":459.401668548584,"wires":[]},{"id":"05f8fb769a321474","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ba852f1b82237623","type":"ui_group","name":"Distance in CM","tab":"946edf8961ef4553","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"66d6d85e60353269","type":"cloudant","host":"https://apikey-v2-2w6uenxvi1g6o15x6ca219whvjmlbxm6j9renbduh1sq:10044c6815de8a2baf30e74178e2d74e@fdf38dca-4290-48d1-bc09-6288f743ac4b-bluemix.cloudantnosqldb.appdomain.cloud","name":""},{"id":"946edf8961ef4553","type":"ui_tab","name":"Cloud Data","icon":"dashboard","disabled":false,"hidden":false}]